* {
    padding: 0; /* Remove o preenchimento padrão */
    margin: 0; /* Remove a margem padrão */
    font-family: 'Poppins', Times, serif; /* Define a fonte padrão */
    box-sizing: border-box; /* Inclui padding e bordas no cálculo de largura e altura */
}

body {
    width: 100%; /* Define a largura do corpo */
    min-height: 100vh; /* Define a altura mínima do corpo como 100% da altura da janela */
}
/* Vídeo Principal */
section {
    width: 100%; /* Define a largura da seção */
    height: 100vh; /* Define a altura da seção como 100% da altura da janela */
    position: relative; /* Permite posicionar elementos filhos de forma absoluta */
}

section div.background-section {
    width: 100%; /* Define a largura do fundo */
    height: 100%; /* Define a altura do fundo */
    position: absolute; /* Permite que o fundo fique atrás dos outros elementos */
    z-index: 0; /* Coloca este elemento atrás dos outros */
}

section div.background-section video {
    width: 100%; /* Define a largura do vídeo */
    height: 100%; /* Define a altura do vídeo */
    object-fit: cover; /* Faz o vídeo cobrir toda a área */
    object-position: center; /* Centraliza o vídeo */
}

section div.box {
    width: 50%; /* Define a largura da caixa */
    height: 100%; /* Define a altura da caixa */
    position: relative; /* Permite posicionar elementos dentro da caixa */
    z-index: 1; /* Coloca este elemento acima do fundo */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent); /* Cria um gradiente de fundo */
    display: flex; /* Usa flexbox para alinhar elementos filhos */
    align-items: flex-end; /* Alinha os itens ao final (parte inferior) */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

section div.box div.conteudo {
    width: 80%; /* Define a largura do conteúdo */
}

section div.box img {
    width: 100%; /* Define a largura da imagem como 100% da caixa */
    min-width: 300px; /* Define uma largura mínima para a imagem */
}

@media screen and (max-width: 1024px) {
    section div.box {
        width: 100%; /* Define a largura da caixa como 100% em telas menores */
        padding: 2%; /* Adiciona preenchimento em torno da caixa */
        background: rgba(0, 0, 0, 0.4); /* Altera o fundo para um gradiente mais leve */
    }
}

/* Vídeo Principal */

/* Carrossel */
.custom-carousel {
    width: 70%; /* Ajusta a largura para 70% da tela */
    height: 70vh; /* Ajusta a altura para 70% da altura da janela de visualização */
    margin: 50px auto 0 auto; /* Adiciona um espaçamento superior de 50px e centraliza */
}

.custom-carousel img {
    height: 100%; /* Garante que as imagens ocupem toda a altura do carrossel */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço de forma proporcional */
}

.card-footer h3 {
    font-family: 'Bebas Neue'; /* Define a fonte desejada */
    font-size: 26px; /* Ajusta o tamanho da fonte */
    color: #333; /* Define a cor do texto */
}
/* Carrossel */

/* Estilos de Texto (divisórias) */
.blockquote1 {
    margin: 50px auto 0 auto; /* Centraliza e adiciona margem superior */
    text-align: center; /* Alinha o texto ao centro */
    font-size: x-large; /* Define um tamanho de fonte grande */
}

.blockquote h4 {
    font-family: 'Bebas Neue'; /* Define a fonte do título */
    font-size: 40px; /* Tamanho da fonte do título */
    color: #000000; /* Cor do título */
    text-align: center; /* Centraliza o texto */
    margin: 50px auto 0 auto; /* Centraliza e adiciona margem superior */
}

.blockquote1 p {
    font-family: 'Bebas Neue'; /* Define a fonte do parágrafo */
    line-height: 1.0; /* Define a altura da linha */
    font-size: small; /* Tamanho da fonte do parágrafo */
    text-align: left; /* Alinha o texto à esquerda */
    margin: 50px auto 0 auto; /* Centraliza e adiciona margem superior */
}
/* Estilos de Texto (divisórias) */
.card-title {
    text-align: center; /* Centraliza o texto do título */
    margin: 150px auto 0 auto; /* Centraliza e adiciona margem superior */
    font-size: medium; /* Tamanho da fonte do título */
}

.card-body p {
    font-family: 'Poppins', Times, serif; /* Define a fonte para parágrafos */
    text-align: left; /* Alinha o texto à esquerda */
    font-size: 24px; /* Tamanho da fonte dos parágrafos */
}

.card-body h5 {
    font-family: 'Poppins', Times, serif; /* Define a fonte para subtítulos */
    text-align: center; /* Centraliza o texto do subtítulo */
    font-size: 24px; /* Tamanho da fonte dos subtítulos */
}
/* Estilos de Texto (divisórias) */

/* Morangos Flutuantes img */
.img-top {
    margin-left: 330px; /* Adiciona margem à esquerda */
    width: 900px; /* Define a largura da imagem */
    height: 700px; /* Define a altura da imagem */
}
/* Morangos Flutuantes img */

/* Trio de imagens dicas */
.culinary-card {
    margin: 100px auto 0 auto; /* Centraliza e adiciona margem superior */
    width: 1200px; /* Define a largura do cartão */
    height: 800px; /* Define a altura do cartão */
}

.culinary-card img {
    width: 1000px; /* Define a largura da imagem do cartão */
    height: 700px; /* Define a altura da imagem do cartão */
    margin-left: 100px; /* Adiciona margem à esquerda */
}

.culinary-card-content h2 {
    font-family: 'Bebas Neue'; /* Define a fonte para o título do cartão */
    text-align: center; /* Centraliza o texto do título */
}

.culinary-card-content p {
    font-family: 'times', 'Poppins', serif; /* Define a fonte para o parágrafo do cartão */
    text-align: center; /* Centraliza o texto do parágrafo */
    font-size: 22px; /* Tamanho da fonte do parágrafo */
}
/* Trio de imagens dicas */

/* Títulos das Receitas */
.card-footer-custom h3 {
    font-family: 'Bebas Neue', sans-serif; /* Define a fonte para o título */
    font-size: 24px; /* Ajusta o tamanho da fonte conforme necessário */
    color: #000000; /* Define a cor do título */
    text-align: center; /* Centraliza o texto do título */
}
/* Títulos das Receitas */
