* {
    padding: 0; /* Remove o preenchimento padrão */
    margin: 0; /* Remove a margem padrão */
    font-family: 'Poppins', Times, serif; /* Define a fonte padrão */
    box-sizing: border-box; /* Inclui padding e bordas no cálculo de largura e altura */
}

body {
    width: 100%; /* Define a largura do corpo */
    min-height: 100vh; /* Define a altura mínima do corpo como 100% da altura da janela */
    overflow-x: hidden; /*Evita rolagem horizontal*/
}

/* Vídeo Principal */
section {
    width: 100%; /* Define a largura da seção */
    height: 100vh; /* Define a altura da seção como 100% da altura da janela */
    position: relative; /* Permite posicionar elementos filhos de forma absoluta */
}

section div.background-section {
    width: 100%; /* Define a largura do fundo */
    height: 100%; /* Define a altura do fundo */
    position: absolute; /* Permite que o fundo fique atrás dos outros elementos */
    z-index: 0; /* Coloca este elemento atrás dos outros */
}

section div.background-section video {
    width: 100%; /* Define a largura do vídeo */
    height: 100%; /* Define a altura do vídeo */
    object-fit: cover; /* Faz o vídeo cobrir toda a área */
    object-position: center; /* Centraliza o vídeo */
}

section div.box {
    width: 50%; /* Define a largura da caixa */
    height: 100%; /* Define a altura da caixa */
    position: relative; /* Permite posicionar elementos dentro da caixa */
    z-index: 1; /* Coloca este elemento acima do fundo */
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9), transparent); /* Cria um gradiente de fundo */
    display: flex; /* Usa flexbox para alinhar elementos filhos */
    align-items: flex-end; /* Alinha os itens ao final (parte inferior) */
    justify-content: center; /* Centraliza os itens horizontalmente */
}

section div.box img {
    width: 100%; /* Define a largura da imagem como 100% da caixa */
    min-width: 500px; /* Define uma largura mínima para a imagem */
}

@media screen and (max-width: 1024px) {
    section div.box {
        width: 100%; /* Define a largura da caixa como 100% em telas menores */
        padding: 2%; /* Adiciona preenchimento em torno da caixa */
        background: rgba(0, 0, 0, 0.4); /* Altera o fundo para um gradiente mais leve */
    }
}

/* Vídeo Principal */

/* Estilos de Texto (divisórias) */
.blockquote h4 {
    font-family: 'Bebas Neue'; /* Define a fonte do título */
    font-size: 40px; /* Tamanho da fonte do título */
    color: #000000; /* Cor do título */
    text-align: center; /* Centraliza o texto */
    margin: 50px auto 0 auto; /* Centraliza e adiciona margem superior */
}
/* Estilos de Texto (divisórias) */

/* Morangos Flutuantes img */
.img-top {
    width: 100%; /* Mantém a imagem responsiva */
    max-width: 60%; /* Define o tamanho máximo como 80% da largura do contêiner */
    height: auto; /* Mantém a proporção da imagem */
    display: block; /* Exibe a imagem como um bloco para permitir a centralização */
    margin: 0 auto; /* Centraliza a imagem */
}
/* Morangos Flutuantes img */

/* Trio de imagens dicas */
.culinary-card {
    margin: 100px auto 0 auto; /* Centraliza e adiciona margem superior */
    max-width: 1200px; /* Define a largura máxima do cartão */
    width: 90%; /* Ajusta a largura para ser 90% da largura da tela */
    height: auto; /* Ajusta a altura para ser automática */
}

.culinary-card img {
    width: 100%; /* A imagem ocupa 100% da largura do cartão */
    height: auto; /* Mantém a proporção da imagem */
    margin: 0 auto; /* Remove margem à esquerda e centraliza a imagem */
    display: block; /* Exibe a imagem como um bloco para garantir a centralização */
}

.culinary-card-content h2 {
    font-family: 'Bebas Neue'; /* Define a fonte para o título do cartão */
    text-align: center; /* Centraliza o texto do título */
}

.culinary-card-content p {
    font-family: 'Poppins', serif; /* Define a fonte para o parágrafo do cartão */
    text-align: center; /* Centraliza o texto do parágrafo */
    font-size: 22px; /* Tamanho da fonte do parágrafo */
}

/* Estilos adicionais para responsividade */
@media (max-width: 768px) {
    .culinary-card {
        margin: 50px auto; /* Ajusta a margem em telas menores */
        width: 95%; /* Aumenta a largura em telas menores */
    }

    .culinary-card-content h2 {
        font-size: 1.5em; /* Reduz o tamanho da fonte do título em telas menores */
    }

    .culinary-card-content p {
        font-size: 18px; /* Reduz o tamanho da fonte do parágrafo em telas menores */
    }
}

@media (max-width: 480px) {
    .culinary-card-content h2 {
        font-size: 1.2em; /* Ajusta ainda mais o tamanho da fonte do título */
    }

    .culinary-card-content p {
        font-size: 16px; /* Ajusta o tamanho da fonte do parágrafo */
    }
}
/* Trio de imagens dicas */

/* Carrossel */
.custom-carousel {
    width: 70%; /* Ajusta a largura para 70% da tela */
    height: 70vh; /* Ajusta a altura para 70% da altura da janela de visualização */
    margin: 50px auto 0 auto; /* Adiciona um espaçamento superior de 50px e centraliza */
}

.custom-carousel img {
    height: 100%; /* Garante que as imagens ocupem toda a altura do carrossel */
    object-fit: cover; /* Ajusta a imagem para cobrir o espaço de forma proporcional */
}

.card-footer h3 {
    font-family: 'Bebas Neue'; /* Define a fonte desejada */
    font-size: 26px; /* Ajusta o tamanho da fonte */
    color: #000000; /* Define a cor do texto */
}
/* Carrossel */


/* Estilos de Texto (cards receitas) */
.card-title {
    text-align: justify; /* Justifica o texto */
    margin: 150px auto 0 auto; /* Centraliza e adiciona margem superior */
    font-size: medium; /* Tamanho da fonte do título */
}
/* Estilos de Texto (cards receitas) */

/* Títulos das Receitas */
.card-footer-custom h3 {
    font-family: 'Bebas Neue', sans-serif; /* Define a fonte para o título */
    font-size: 24px; /* Ajusta o tamanho da fonte conforme necessário */
    color: #000000; /* Define a cor do título */
    text-align: center; /* Centraliza o texto do título */
}
/* Títulos das Receitas */
